<tr data-cid="<%= cid %>">
<% can.each(this, function(current) { %>
  <% if(current.isComputed) { %>
    <td><%== current() %></td>
  <% } else { %>
    <td <%= (el) -> can.append(el, current) %>></td>
  <% } %>
<% }); %>
</tr>
