<form id="builder" action="http://bitbuilder.herokuapp.com/donejs">
  <label>
    <input type="checkbox" value="canui/fills" name="plugins"/>
    <a href="#fills">Fills</a> - fill out a parent elements dimensions
    <div class="dependencies">
      <ul>
        <li data-library="jquery">jQuery.dom.dimensions</li>
        <li data-library="jquery">jQuery.event.resize</li>
      </ul>
    </div>
  </label>

  <label>
    <input type="checkbox" value="canui/table_scroll" name="plugins"/>
    <a href="#tablescroll">TableScroll</a> - make a table scrollable
    <div class="dependencies">
      <ul>
        <li data-library="can">can.Control</li>
        <li data-library="jquery">jQuery.event.resize</li>
      </ul>
    </div>
  </label>

  <label>
    <input type="checkbox" value="canui/grid" name="plugins"/>
    <a href="#list">List</a> - high performance lists
    <div class="dependencies">
      <ul>
        <li data-library="can">can.Control</li>
        <li data-library="can">can.Observe</li>
        <li data-library="can">can.view</li>
      </ul>
    </div>
  </label>

  <label>
    <input type="checkbox" value="canui/grid" name="plugins"/>
    <a href="#grid">Grid</a> - a live binding grid widget
    <div class="dependencies">
      <ul>
        <li data-library="can">can.view.EJS</li>
      </ul>
    </div>
  </label>

  <label>
    <input type="checkbox" value="canui/positionable" name="plugins"/>
    <a href="#positionable">Positionable</a> - position elements relative to each other
    <div class="dependencies">
      <ul>
        <li data-library="can">can.Control</li>
        <li data-library="jquery">jQuery.event.reverse</li>
      </ul>
    </div>
  </label>

  <label>
    <input type="checkbox" value="canui/selectable" name="plugins"/>
    <a href="#selectable">Selectable</a> - provides keyboard and mouse selection for items
    <div class="dependencies">
      <ul>
        <li data-library="can">can.Control</li>
        <li data-library="jquery">jQuery.event.key</li>
      </ul>
    </div>
  </label>

  <label>
    <input type="checkbox" value="canui/resize" name="plugins"/>
    <a href="#resize">Resize</a> - resize elements with draggable handles
    <div class="dependencies">
      <ul>
        <li data-library="can">can.Control</li>
        <li data-library="jquery">jQuery.event.drag</li>
        <li data-library="jquery">jQuery.dom.dimensions</li>
      </ul>
    </div>
  </label>

  <label>
    <input type="checkbox" value="canui/split" name="plugins"/>
    <a href="#split">Split</a> - independently resize or collapse content panels
    <div class="dependencies">
      <ul>
        <li data-library="can">can.Control</li>
        <li data-library="jquery">jQuery.event.drag.limit</li>
        <li data-library="jquery">jQuery.dom.dimensions</li>
        <li data-library="jquery">jQuery.event.key</li>
        <li data-library="jquery">jQuery.event.resize</li>
      </ul>
    </div>
  </label>

  <h4>Dependencies</h4>
  <p>
    By default CanJS and jQuery++ dependencies will be included in the generated download.
    Uncheck if you are using your own builds.
  </p>
  <label>
    <input type="checkbox" value="can/" checked="checked" name="excludes" />
    <a href="#">CanJS</a> - Can do JS, better, faster, easier.
  </label>
  <label>
    <input type="checkbox" value="jquery/" checked="checked" name="excludes" />
    <a href="#">jQuery++</a> - jQuery's missing utils and special events
  </label>

  <button class="button disabled" disabled="disabled" type="submit">Download</button>
  <p class="loading" style="display: none;"><img src="images/loader.gif" alt="loader" /> Please wait while we generate your download</p>
</form>
