html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}
body { line-height: 1 }ol,ul { list-style: none }
blockquote,
q { quotes: none }
em { font-style: italic; }
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.cf:before,
.cf:after {
	content: "";
	display: table;
}
.cf:after { clear: both }
.cf { zoom: 1 }
body {
	background: url(../images/pattern.gif);
	background-attachment: fixed;
	font-family: Helvetica,"Lucida Grande","Lucida Sans",Arial,Helvetica,sans-serif;
	font-size: 10px;
	line-height: 10px;
	background-position: -3px -3px;
}
em {
	font-style: italic;
}
#bg {
	height: 210px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
#wrapper {
	width: 960px;
	margin: 0 auto 0;
	position: relative;
}
#menu-wrapper {
	margin-top: 20px;
	width: 258px;
	position: fixed;
	background: #2f2f2f;
	background-image: url(../images/menu_bg.png);
	background-repeat: repeat-x;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #1f1f1f;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
#logo-and-download {
	height: 62px;
	position: relative;
}
#logo-and-download img {
	display: block;
	position: absolute;
	top: 10px;
	left: 14px;
}
#logo-and-download a {
	position: absolute;
	top: 21px;
	right: 10px;
}
#menu {
	font-size: 14px;
	position: relative;

}
#menu li { margin: 1px 0 }
#menu li ul { }
#menu li ul li a {
	padding-left: 14px;
	font-size: 14px;
}
#menu li ul li ul { display: none }
#menu li ul li ul a {
	padding-left: 24px;
	font-weight: normal;
}
#menu a {
	color: #eee;
	text-decoration: none;
	display: block;
	line-height: 18px;
	height: 18px;
	padding: 3px 14px;
	font-weight: bold;
	margin: 0;
}
#menu a:hover,
#menu a.active {
	color: white;
	background: #69ac46; /* Old browsers */
	background: -moz-linear-gradient(top,  #69ac46 0%, #558d39 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69ac46), color-stop(100%,#558d39)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #69ac46 0%,#558d39 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #69ac46 0%,#558d39 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #69ac46 0%,#558d39 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #69ac46 0%,#558d39 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69ac46', endColorstr='#558d39',GradientType=0 ); /* IE6-9 */

	text-shadow: none;
}
#menu a.heading-1 {
	display: none;
}
#inner-menu-wrap {
	overflow: hidden;
	position: relative;
	padding: 1px 0 0;
	border-bottom: 1px solid #1f1f1f;
}
#content-wrapper {
	width: 680px;
	float: right;
	background: white;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 20px 0 20px 0;
}
#buttons a,
#logo-and-download a,
#builder .button {
	width: 100px;
	text-align: center;
	display: block;
	background: #2c2c2c; /* Old browsers */
	background: -moz-linear-gradient(top,  #444 0%, #222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #444 0%,#222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #444 0%,#222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #444 0%,#222 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #444 0%,#222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#222',GradientType=0 ); /* IE6-9 */
	text-shadow: 0px 1px rgba(0,0,0,0.4);
	color: #ccc;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	margin-right: 4px;
	border: 1px solid #000;
	box-shadow: 0px 1px 0 0 #4f4f4f, inset 0 1px 0px rgba(255,255,255,.1);

}
#buttons a:first-child, #logo-and-download a:first-child, #builder .button:first-child {
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
#buttons a:last-child, #logo-and-download a:last-child, #builder .button:last-child {
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
#buttons a:active,
#logo-and-download a:active {
	margin-top: 2px;
	box-shadow: none;
}
#buttons a.primary,
#logo-and-download a.primary,
#builder .button {
	color: white;
	background: #69ac46; /* Old browsers */
	background: -moz-linear-gradient(top,  #69ac46 0%, #558d39 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69ac46), color-stop(100%,#558d39)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #69ac46 0%,#558d39 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #69ac46 0%,#558d39 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #69ac46 0%,#558d39 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #69ac46 0%,#558d39 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69ac46', endColorstr='#558d39',GradientType=0 ); /* IE6-9 */

}
#logo-and-download a.primary:hover,
#builder .button:hover {
	background: #0FA256;
}
#buttons {
	
	padding: 13px 0 11px 16px;
}
#buttons a {
	float: left;
	margin-right: 0px;
	margin-right: -1px;
	width: 75px;
}
#buttons a:hover {
	background: #69ac46; /* Old browsers */
	background: -moz-linear-gradient(top,  #69ac46 0%, #558d39 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69ac46), color-stop(100%,#558d39)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #69ac46 0%,#558d39 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #69ac46 0%,#558d39 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #69ac46 0%,#558d39 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #69ac46 0%,#558d39 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69ac46', endColorstr='#558d39',GradientType=0 ); /* IE6-9 */
	color: white;
}
#developed-by {
	display: block;
	border-top: 1px solid #3e3e3e;
}
#developed-by img {
	display: block;
	margin: 10px auto;
}
#content {
	font-size: 17px;
	padding: 15px;
	line-height: 24px;
	color: #111;
}
#content a { color: #0B74B9 }
#content a:hover { text-decoration: none }
#content h1,
#content h2,
#content h3 {
	line-height: 32px;
	font-size: 30px;
	font-weight: bold;
	margin: 20px 0 10px;
	text-shadow: 0 2px #e6e6e6;
}
#content h4 {
	margin: 10px 0px;	
}
#content h1:first-child,
#content h2:first-child,
#content h3:first-child { margin-top: 0 }
#content h2 {
	font-size: 24px;
	line-height: 24px;
	border-top: 1px dotted #666;
	padding-top: 20px;
}
#content h3 {
	font-size: 20px;
	line-height: 24px;
}
#content h1 {
	margin: 10px 0 20px;
}
#content p { margin-bottom: 10px }
#content pre {
	font-size: 14px;
	font-family: Monaco,Consolas,"Courier New",Courier,monospace;
	background: #EEF0F7;
	padding: 10px;
	margin: 20px 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
#content pre code {
	line-height: 22px;
	background: none;
	white-space: pre;
}
#content code, #content a.code {
	display: inline-block;
	font-family: Monaco,Consolas,"Courier New",Courier,monospace;
	background: #EEF0F7;
	padding: 1px 5px;
	line-height: 130%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	text-shadow: none;
}
#content ul,
#content ol {
	list-style-position: outside;
	list-style-type: disc;
	margin-bottom: 10px;
	margin-left: 20px;
}
#content ol { list-style-type: decimal }
#content b,
#content strong { font-weight: bold }
body {
	-moz-tab-size: 1;
	-o-tab-size: 1;
	tab-size: 1;
}
.github-fork {
	float: right;
	margin: -17px -17px 0 0;
}
html.lt-ie7 body {
	text-align: center;
}
html.lt-ie7 #bg {
	display: none;
}

html.lt-ie7 body #wrapper {
	text-align: left;
}

html.lt-ie7 #menu-wrapper {
	float: left;
	margin-top: expression(eval(document.documentElement.scrollTop + 20));
}

html.lt-ie7 #content-wrapper {
	margin: 20px 0 0 10px;
}
html.lt-ie7 #logo {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.png', sizingMethod='scale');
}
html.lt-ie7 .github-fork {
	margin-right: -23px;
	margin-top: -18px;
}
html.lt-ie7 .github-fork img {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://a248.e.akamai.net/assets.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67', sizingMethod='scale');
}
.special {
	float: left;
	margin-left: -5px;
	margin-right: 2px;
}

#builder input {
	width: 13px;
	height: 13px;
	padding: 0;
	margin:0;
	vertical-align: middle;
	position: relative;
	top: -1px;
	*overflow: hidden;
}

#builder label {
	display: block;
	padding-left: 15px;
	text-indent: -15px;
}

#builder .loading, #builder .button {
	margin: 10px 0;
}

#builder .loading {
	color: #B5B6B5;
}

#builder .button {
	border: none;
	line-height: 12px;
	cursor: pointer;
}

#builder .button.disabled {
	background-color: #BBC2C7 !important;
	cursor: auto;
}

#builder .button.disabled:hover {
	background-color: #BBC2C7;
}

#builder .dependencies li {
	list-style: none;
	font-size: 80%;
	color: #AFAFAF;
}

#builder .dependencies li.excluded {
	text-decoration: line-through;
}
